<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>
<link th:href="@{static/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{static/js/jquery.min.js}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link th:href="@{static/css/style.css}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fidele Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!---->
<script th:src="@{static/js/menu_jquery.js}"></script>
</head>
<body> 
<!--header-->	
<div class="header">
	<div class="container">
		 <div class="logo">
		  	<a href="index.html"><img th:src="@{static/images/logo.png}" alt="" ></a>
	  	 </div>
	   <div class="head-right">
	   	<div class="head-grid">
	   		<ul>
				<li ><span>+125775858</span></li>
				<li ><span>+1486754582</span></li><label>|</label>
				<li><div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
					<div id="loginBox">                
						  <form id="loginForm">
						           <fieldset id="body">
						              <fieldset>
						                   <label for="email">Email Address</label>
						                     <input type="text" name="email" id="email">
						                </fieldset>
						                 <fieldset>
						                            <label for="password">Password</label>
						                            <input type="password" name="password" id="password">
						                 </fieldset>
						                    <input type="submit" id="login" value="Sign in">
						                	<label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
						            	</fieldset>
						            <span><a href="#">Forgot your password?</a></span>
							 </form>
				    </div>
				</div>
			</li>	
		</ul>
	</div> 	
	   <div class="top-nav">
			  <span class="menu"><img th:src="@{static/images/menu.png}" alt=""> </span>
					<ul>
						 <li class="active"><a href="index.html">首页</a></li>
					   	 <li><a href="about.html">关于我们</a></li>
					   	 <li><a href="gallery.html">画廊</a></li>
					   	 <li><a href="contact.html">联系我们</a></li>
						<div class="clearfix"> </div>
					</ul>

					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//header-->
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<div class="banner">
	<div class="banner-1"> </div>
		<div class="container">
			<div class="banner-top">
				<div class="col-sm-6 head-banner">
					<h1>Lorem <span>&</span> Ipsum</h1>
					<h4 th:text="${title}">/h4>
					
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.Latin literature from 45 BC.</p>
				 </div>
				<div class="col-sm-6 banner-head1">
					<img th:src="@{static/images/dog1.png}" class="img-responsive" alt="">
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
</div>
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top-top">
		<div class="content-top">
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-cog"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-user"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-time"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="content-top">
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-leaf"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-erase"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel">
				<div class="content-ic">
					<i class="glyphicon glyphicon-grain"></i>
				</div>	
				<div class="content-text">
					<h5>It is a long established </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		</div>
		<!---->
	</div>
	<!---->
	<div class="events">
		<div class="container">
			<h2>Upcoming Events</h2>
			<div class="events-top">
				<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
					<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev1.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
					<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev2.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="events-top">
				<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev3.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
					<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev4.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
					<div class="col-sm-4 top-event">
					<a href="single.html"><img th:src="@{static/images/ev5.jpg}" class="img-responsive" alt=""></a>
					<h4><a href="single.html">Masagni dolores eoquie</a></h4>
					<span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>
					<p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!---->
</div>
<!--footer-->
 	<div class="footer ">
 		<div class="footer-1"> </div>
		<div class="container">
		  <div class="footer_top">
		  	<div class="col-md-3 footer-head">
				<h4>Navigation</h4>
				  <ul class="list1">
				  	 <li><a href="index.html">Home</a></li>
				   	 <li><a href="about.html">About</a></li>
				   	 <li><a href="gallery.html">Gallery</a></li>
				   	 <li><a href="blog.html">Blog</a></li>
				   	 <li><a href="codes.html">Short Codes</a></li>
				   	 <li><a href="contact.html">Contact</a></li>
				  </ul>
			</div>
		  	
			<div class="col-md-3 footer-head">
				<h4>Recent News</h4>
			   <div class="footer-new">
			   	<div class="footer-new1">
			   		<a href="single.html"><img th:src="@{static/images/te.jpg}" class="img-responsive" alt=""></a>
			   	</div>
			   	<div class="footer-new2">
			   		<p><a href="single.html">Masagni dolores eoquie voluptaquisquam.</a> </p>
			   	</div>
			   	<div class="clearfix"> </div>
			   </div>
			     <div class="footer-new">
			   	<div class="footer-new1">
			   		<a href="single.html"><img th:src="@{static/images/te2.jpg}" class="img-responsive" alt=""></a>
			   	</div>
			   	<div class="footer-new2">
			   		<p><a href="single.html">Masagni dolores eoquie voluptaquisquam.</a> </p>
			   	</div>
			   	<div class="clearfix"> </div>
			   </div>
			     <div class="footer-new">
			   	<div class="footer-new1">
			   		<a href="single.html"><img th:src="@{static/images/te3.jpg}" class="img-responsive" alt=""></a>
			   	</div>
			   	<div class="footer-new2">
			   		<p><a href="single.html">Masagni dolores eoquie voluptaquisquam. </a></p>
			   	</div>
			   	<div class="clearfix"> </div>
			   </div>
			</div>
			<div class="col-md-3 footer-head">
				<h4>Follow Us</h4>
			 <ul class="socials">
                 <li><a href="#"><i ></i></a></li>
                 <li><a href="#"><i class="dribbble"></i></a></li>
                  <li><a href="#"><i class="twitter"></i></a></li>
              </ul>
			</div>
			<div class="col-md-3 footer-head1">
			  	<h4>Location</h4>
             	<p><b>Company Name</b></p>
              	<p>Masagni dolores</p>
               <p>+17478895959</p>
			</div>
			<div class="clearfix"> </div>
		   </div>
		   <div class="footer-bottom">
		<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
    </div>
	 </div>
</div>
 	<!--//footer-->
</body>
</html>